/* DEFAULTS */
$stroke-width:          3;
$height-multiplier:     6;
$stroke-radius:         4;
$stroke-color:          #343d46;
$transition-duration:   0.33s;
$transition-ease:       linear;

/* DON'T CHANGE */
$PI:                   3.141592654;
$DIRS:                 ('up', 'down', 'left', 'right');
